@model List<WeatherWebApplication.Models.Forecast>

<table class="table">
    <thead>
        <tr>
            <th>Город</th>
            <th>Сервис погоды</th>
            <th>Доступность сервиса</th>
            <th>Температура</th>
            <th>Давление</th>
            <th>Влажность</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var forecast in Model)
    {
        <tr>
            <td>@forecast.city.LocalName</td>
            <td>@forecast.WeatherApi.WeatherServiceName</td>
            @if (forecast.WeatherApi.ServiceAvailable == false)
            {
                <td>@forecast.WeatherApi.ServiceAvailable</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            }
            else
            {
                <td>@forecast.WeatherApi.ServiceAvailable</td>
                <td>@forecast.Temp</td>
                <td>@forecast.Pressure</td>
                <td>@forecast.Humidity</td>
            }
        </tr>
    }
    </tbody>
</table>
